<!--<div *ngFor="let  menuItem of menuItemsHome" >-->
  <!--<button  mat-raised-button color="accent" [routerLink]="['/',menuItem.link]"    >-->
    <!--<mat-icon  >{{menuItem.icon}}</mat-icon>-->
    <!--{{menuItem.name}}-->
  <!--</button>-->
<!--</div>-->
<div *ngFor="let  menuItem of menuItemsHome" >
  <button   (click)="navigate(menuItem)"  class="mdl-button mdl-js-button mdl-button--accent"  >
    <i class="mdl-color-text--blue-grey-400 material-icons" >{{menuItem.icon}}</i>
    {{menuItem.name}}
  </button>
</div>
