<!--<header class="demo-header mdl-layout__header mdl-color&#45;&#45;grey-100 mdl-color-text&#45;&#45;grey-600">-->
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Главная</span>
    <div class="mdl-layout-spacer"></div>
    <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search">
        <label class="mdl-textfield__label" for="search">Что найти?</label>
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
      <li class="mdl-menu__item">Помощь</li>
      <li class="mdl-menu__item">Связаться</li>
      <li class="mdl-menu__item">Выйти</li>
    </ul>
  </div>

