<div class="wrap">
  <div class="sample">
    <div class="header">
      <header  class="actionPanel">
        <span style="flex: 1.5" content=" "> </span>
        <span ><button mat-button>Кому?</button></span>
        <span><button mat-button>Для чего?</button></span>
        <span> <button mat-button >О нас</button></span>
      </header>
    <div class="title">
      <span >Планируй Конференции</span>
      <p>Просматривай Материалы</p>
      <button class="button" mat-button> Регистрация мероприятия</button>
      <button class="button" mat-button> Регистрация участника</button>
    </div>
  </div>
    <div class="circes">
    <div class="sircle" style="width: 20vmax; height: 20vmax;">
      <span >
      Конструктор для
      размещения всех
      материалов о
      мероприятии в
      цифровом виде
        </span>
    </div>
    <div class="sircle" style="width:30vh;height: 30vh; margin-left: 30vw;margin-top: -15vh">
     <span>Универсальный
      доступ через
      мессенджеры к
      материалам
      мероприятия
      и всему, что с ним
      связано
       </span>
    </div>
    </div>
    <footer>
      <div class="titleFooter"><span style="flex: 1;"></span><span>Наша команда</span></div>
      <div class="team"></div>
    </footer>
  </div>
</div>

