<!--<app-html></app-html>-->

 <!--<app-nav-bar-header class="demo-drawer-header">-->
 <!--</app-nav-bar-header>-->
  <!--<div class="demo-drawer mdl-layout__drawer mdl-color&#45;&#45;blue-grey-900 mdl-color-text&#45;&#45;blue-grey-50">-->
  <!--<app-nav-bar-header class="demo-drawer-header">-->
  <!--</app-nav-bar-header>-->
      <!--<app-nav-bar class="demo-navigation mdl-navigation mdl-color&#45;&#45;blue-grey-800" [parentComponent]="'home'">-->
      <!--</app-nav-bar>-->
  <!--</div>-->
  <!--<main class="mdl-layout__content mdl-color&#45;&#45;grey-100">-->
    <!--<div class="mdl-grid demo-content">-->

    <!--<router-outlet name="menu"></router-outlet>-->


<app-main></app-main>
  <!--</main>-->
    <!--</div>-->

<!--<div class="content-wrapper">-->
  <!--<div class="container-fluid">-->
 <!--<mat-drawer-container>-->
   <!--<mat-drawer-content class='content'>-->
         <!--<router-outlet></router-outlet>-->
   <!--</mat-drawer-content>-->
 <!--</mat-drawer-container>-->
  <!--</div>-->
<!--</div>-->
