<form  [formGroup]="form1" >
  <div><img src="https://firebasestorage.googleapis.com/v0/b/first-d4331.appspot.com/o/5.png?alt=media&token=2b655c90-0f97-433e-93c8-3d928cdb59df"/>
  </div>
 <fieldset>
    <legend>Login</legend>
   <div class="form-field">
     <label>Email:</label>
     <input type="text" name="mail"  formControlName="mail" required>
   </div>
   <div class="form-field">
     <label>Password:</label>
    <input type="password" name="password" formControlName="password" required>
   </div>
 </fieldset>
   <div class="form-buttons"></div>
    <button class="button button-primary" (click)="login()" >отправить</button>

</form>
