label{
  display: block;
}
app-lecture{
  flex: 1;
}
app-speaker-element{
  display: inline-block;
  width: 100px;
  height: 100px;
}
mat-form-field{
  display: block;
}
.q{
  width: 100px
}
:host{
  display: block;
  border: 1px solid black;
}
.ss{
  overflow: hidden;
}
.speakerCard{
margin-right: 20px;
}
mat-grid-list{
  margin-bottom: 20px;
}

